; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{
  :simlayer-threshold 150
  :templates {
   :launch "open -a %s"
   :hs "open -g hammerspoon://%s"
  }
  :layers {
    :primary-mode {:key :caps_lock :alone {:key :escape}}
  }
  :simlayers {
    :append-mode {:key :a}
    :app-mode {:key :comma}
    :copy-mode {:key :y}
    :change-mode {:key :c}
    :global-mode {:key :semicolon}
    :share-mode {:key :quote}
    :toggle-mode {:key :spacebar}
    :find-mode {:key :slash}
    :execute-mode {:key :period}
    :insert-mode {:key :i}
    :open-mode {:key :o}
    :relocate-mode {:key :r}
    :redo-mode {:key :u}
    :window-mode {:key :w}
    :debug-mode {:key :x}
    :vim-mode {:key :z}
  }
  :main [
    {
      :des "Primary Mode"
      :rules [:primary-mode
        [:semicolon :!!semicolon] ; open Alfred
        [:a :!!a] ; get app bundle ID from Alfred
        [:h [:hs "navigateBack"]]
        [:i :!!i] ; Alfred clipboard
        [:j [:hs "goToPreviousTab"]]
        [:k [:hs "goToNextTab"]]
        [:l [:hs "navigateForward"]]
        [:m [:hs "toggleSidebar"]]
        [:n [:hs "makeAnything"]]
        [:o [:hs "openAnything"]]
        [:p :!Cv]
        [:u :!Cz]
        [:y [:hs "copyAnything"]]
        [:return_or_enter :caps_lock]
        [:spacebar [:hs "togglePrimary"]]
        ; [:comma [:hs ""]]
        [:period [:hs "openCommandPalette"]]
        [:slash :!Cf] ; normal find
      ]
    }
    {
      :des "App mode"
      :rules [:app-mode
        ; [:caps_lock :!!n] ; Show notification center
        [:caps_lock [:hs "appMode"]]
        [:a [:launch "Slack.app"]]
        [:b [:launch "Google\\ Chrome.app"]]
        [:c :!!c] ; Fantastical
        [:d [:launch "TablePlus.app"]]
        [:e [:launch "Sublime\\ Text.app"]]
        [:f [:launch "Finder.app"]]
        [:g [:launch "Omnifocus.app"]]
        [:q [:launch "Postman.app"]]
        [:r [:launch "Bear.app"]]
        [:s [:launch "Spotify.app"]]
        [:t :!Ospacebar] ; iTerm
        [:v [:launch "Sublime\\ Merge.app"]]
        [:w [:launch "Drafts.app"]]
        [:x [:launch "Discord.app"]]
        [:z [:launch "Trello.app"]]
      ]
    }
    {
      :des "Global mode"
      :rules [:global-mode
        [:a :!Ca] ; Select all
        [:d [:hs "duplicateAnything"]]
        ; [:f]
        [:g :!!g] ; Omnifocus quick entry
        [:q :!Cq] ; Cmd+q
        [:r [:hs "reloadAnything"]]
        [:s [:hs "saveAnything"]] ; Save
        [:t :!Ct] ; Cmd+t
        [:v :!Cd] ; highlight next selection in Sublime
        [:w :!Cw] ; Cmd+t
        [:x [:hs "deleteAnything"]]
        [:z :!!quote] ; scroll mode
      ]
    }
    {
     :des "Share mode"
     :rules [:share-mode
      [:d :!!d] ; Edit done
      [:e :!!e] ; Edit with
      [:f :!SOCf] ; Add selected text to BitBar
      [:w :!SCw] ; Close all windows
     ]
    }
    {
     :des "Toggle mode"
     :rules [:toggle-mode
      [:c :!STC4] ; Screenshot to clipboard
      [:d [:hs "toggle?key=d"]]
      [:s :!SC4] ; Screenshot to filesystem
      [:w :!Ch] ; Cmd+h
     ]
   }
   {
    :des "Window mode"
    :rules [:window-mode
     [:semicolon [:hs "moveWindow?key=full"]]
     [:i [:hs "moveWindow?key=center"]]
     [:h [:hs "moveWindow?key=left"]]
     [:j [:hs "moveWindow?key=bottom"]]
     [:k [:hs "moveWindow?key=top"]]
     [:l [:hs "moveWindow?key=right"]]
     [:u [:hs "moveWindow?key=topLeft"]]
     [:o [:hs "moveWindow?key=topRight"]]
     [:n [:hs "moveWindow?key=bottomLeft"]]
     [:period [:hs "moveWindow?key=bottomRight"]]
    ]
   }
   {
     :des "Find mode"
     :rules [:find-mode
       [:a :!CSf] ; find all
       [:g :!CSOg] ; global google search
       [:r :!TSt] ; open selection hints in new tab
       [:z :!CSOz] ; global amazon search
     ]
   }
   {
     :des "Execute mode"
     :rules [:execute-mode
       [:a [:hs "runCommand?key=a"]]
       [:c [:hs "runCommand?key=c"]]
       [:f [:hs "runCommand?key=f"]]
       [:g [:hs "runCommand?key=g"]]
       [:r [:hs "runCommand?key=r"]]
       [:s [:hs "runCommand?key=s"]]
       [:t [:hs "runCommand?key=t"]]
       [:v [:hs "runCommand?key=v"]]
       [:w [:hs "runCommand?key=w"]]
     ]
    }
    {
     :des "Copy mode"
     :rules [:copy-mode
       [:d [:hs "copyMode?key=d"]]
     ]
    }
    {
     :des "Relocate Mode"
     :rules [:relocate-mode
       [:j [:hs "relocateDown"]]
       [:k [:hs "relocateUp"]]
     ]
   }
   {
     :des "Debug mode and Vim movements"
     :rules [:debug-mode
       [:h :!Oleft_arrow] ; move one word back
       [:j [:hs "debugSomething?key=j"]]
       [:k [:hs "debugSomething?key=k"]]
       [:l :!Oright_arrow] ; move one character forward
     ]
   }
   {
     :des "Vim mode"
     :rules [:vim-mode
       [:h :left_arrow] ; go back one character
       [:j :down_arrow] ; go down one line
       [:k :up_arrow] ; go up one line
       [:l :right_arrow] ; go forward one character
       [:i :!Cleft_arrow] ; go to start of line
     ]
    }
   {
     :des "Append Mode"
     :rules [:append-mode
       [:comma [:hs "appendAnything?key=comma"]]
       [:semicolon [:hs "appendAnything?key=semicolon"]]
     ]
   }
   {
     :des "Insert Mode"
     :rules [:insert-mode
       [:a [:hs "insertAnything?key=a"]]
       [:c [:hs "insertAnything?key=c"]]
       [:d [:hs "insertAnything?key=d"]]
       [:e [:hs "insertAnything?key=e"]]
       [:f [:hs "insertAnything?key=f"]]
       [:g [:hs "insertAnything?key=g"]]
       [:s [:hs "insertAnything?key=s"]]
       [:t [:hs "insertAnything?key=t"]]
       [:w [:hs "insertAnything?key=w"]]
       [:x [:hs "insertAnything?key=x"]]
     ]
   }
   {
     :des "Open Mode"
     :rules [:open-mode
       [:caps_lock [:hs "openMode"]]
       [:a [:hs "openSomething?key=a"]]
       [:b [:hs "openSomething?key=b"]]
       [:c [:hs "openSomething?key=c"]]
       [:e [:hs "openSomething?key=e"]]
       [:f [:hs "openSomething?key=f"]]
       [:g [:hs "openSomething?key=g"]]
       [:r [:hs "openSomething?key=r"]]
       [:s [:hs "openSomething?key=s"]]
       [:t [:hs "openSomething?key=t"]]
       [:v [:hs "openSomething?key=v"]]
       [:w [:hs "openSomething?key=w"]]
       [:x [:hs "openSomething?key=x"]]
     ]
   }
   {
     :des "Change Mode"
     :rules [:change-mode
       [:k [:hs "changeSomething?key=k"]]
       [:l [:hs "changeSomething?key=l"]]
       [:u [:hs "changeSomething?key=u"]]
     ]
   }
  ]
}
