; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any

{
  :templates {
   :launch "open -a %s"
   :hs "open -g hammerspoon://%s"
  }
  :layers {
    :hyper-mode {:key :caps_lock :alone {:key :escape}}
  }
  :simlayers {
    :append-mode {:key :a}
    :comma-mode {:key :comma}
    :copy-mode {:key :y}
    :semicolon-mode {:key :semicolon}
    :quote-mode {:key :quote}
    :spacebar-mode {:key :spacebar}
    :search-mode {:key :slash}
    :command-mode {:key :period}
    :insert-mode {:key :i}
    :open-mode {:key :o}
    :relocate-mode {:key :r}
    :redo-mode {:key :u}
    :x-mode {:key :x}
    :z-mode {:key :z}
  }
  :simlayer-threshold 150
  :applications {
    :bear ["^net\\.shinyfrog\\.bear$"]
    :chrome ["^com\\.google\\.Chrome$"]
    :finder ["^com\\.apple\\.finder$"]
    :notion ["^notion\\.id$"]
    :slack ["^com\\.tinyspeck\\.slackmacgap$"]
    :spotify ["^com\\.spotify\\.client$"]
    :trello ["^com\\.fluidapp\\.FluidApp\\.Trello$"]
  }
  :main [
    {
      :des "Hyper Mode"
      :rules [:hyper-mode
        [:semicolon :!!semicolon] ; open Alfred
        [:a :!!a] ; get app bundle ID from Alfred
        [:h [:hs "navigateBack"]]
        [:i :!!i] ; Alfred clipboard
        [:j [:hs "goToPreviousTab"]]
        [:k [:hs "goToNextTab"]]
        [:l [:hs "navigateForward"]]
        [:m [:hs "toggleSidebar"]]
        [:n [:hs "makeAnything"]]
        [:o [:hs "openAnything"]]
        [:p :!Cv]
        [:u :!Cz]
        [:y [:hs "copyAnything"]]
        [:quote :!!quote] ; scroll mode
        [:return_or_enter :caps_lock]
        ; [:comma [:hs ""]]
        [:period [:hs "openCommandPalette"]]
        [:slash :!Cf] ; normal find
      ]
    }
    {
      :des "Comma mode to launch apps"
      :rules [:comma-mode
        [:caps_lock :!!n] ; Show notification center
        [:a [:launch "Slack.app"]]
        [:b [:launch "Google\\ Chrome.app"]]
        [:c :!!c] ; Fantastical
        [:d [:launch "TablePlus.app"]]
        [:e [:launch "Sublime\\ Text.app"]]
        [:f [:launch "Finder.app"]]
        [:g [:launch "Omnifocus.app"]]
        [:q [:launch "Postman.app"]]
        [:r [:launch "Bear.app"]]
        [:s [:launch "Spotify.app"]]
        [:t :!Ospacebar] ; iTerm
        [:v [:launch "GitHub\\ Desktop.app"]]
        [:w [:launch "Drafts.app"]]
        [:x [:launch "Discord.app"]]
        [:z [:launch "Trello.app"]]
      ]
    }
    {
      :des "Semicolon mode for performing actions"
      :rules [:semicolon-mode
        [:a :!Ca] ; Select all
        [:d [:hs "duplicateAnything"]]
        [:f :!Cd] ; highlight next selection in Sublime
        [:g :!!g] ; Omnifocus quick entry
        [:s [:hs "saveAnything"]] ; Save
        ; [:v]
        [:x :!Tc] ; ctrl+c
      ]
    }
    {
     :des "Quote mode for running commands"
     :rules [:quote-mode
      [:d :!!d] ; Edit done
      [:e :!!e] ; Edit with
      [:f :!SOCf] ; Add selected text to BitBar
      [:w :!SCw] ; Close all windows
     ]
    }
    {
     :des "Spacebar mode for window management"
     :rules [:spacebar-mode
      [:m :!TOCm] ; Moom
      [:d :!TOCd] ; Moom: Move to right display
      [:f :!TOCf] ; Moom: Fullscreen
      [:g :!TOCg] ; Moom: Center screen
      [:return_or_enter :!TOCreturn_or_enter] ; Moom: Reset
      [:h :!TOCh] ; Moom: Move half screen left
      [:j :!TOCj] ; Moom: Move half screen bottom
      [:k :!TOCk] ; Moom: Move half screen top
      [:l :!TOl] ; Moom: Move half screen right
      [:u :!TOCu] ; Moom: Move to top left
      [:o :!TOCo] ; Moom: Move to top right
      [:n :!TOCn] ; Moom: Move to bottom left
      [:period :!TOCperiod] ; Moom: Move to bottom right
      [:t :!Ct] ; Cmd+t
      [:w :!Cw] ; Cmd+w
      [:q :!Cq] ; Cmd+q
      [:r [:hs "reloadAnything"]]
      [:c :!STC4] ; Screenshot to clipboard
      [:s :!SC4] ; Screenshot to filesystem
     ]
   }
   {
     :des "Search mode"
     :rules [:search-mode
       [:a :!CSf] ; find all
       [:g :!CSOg] ; global google search
       [:r :!TSt] ; open selection hints in new tab
       [:s [:hs "searchMode?key=s"]]
       [:t [:hs "searchMode?key=t"]]
       [:w [:hs "searchMode?key=w"]]
       [:z :!CSOz] ; global amazon search
     ]
   }
   {
     :des "Command mode"
     :rules [:command-mode
       [:a [:hs "runCommand?key=a"]]
       [:f [:hs "runCommand?key=f"]]
       [:g [:hs "runCommand?key=g"]]
       [:r [:hs "runCommand?key=r"]]
       [:s [:hs "runCommand?key=s"]]
       [:t [:hs "runCommand?key=t"]]
       [:v [:hs "runCommand?key=v"]]
       [:w [:hs "runCommand?key=w"]]
     ]
    }
    {
     :des "Copy mode"
     :rules [:copy-mode
       [:d [:hs "copyMode?key=d"]]
     ]
    }
    {
     :des "Relocate Mode"
     :rules [:relocate-mode
       [:j [:hs "relocateDown"]]
       [:k [:hs "relocateUp"]]
     ]
   }
   {
     :des "X mode for Vim selections"
     :rules [:x-mode
       [:h :!Sleft_arrow] ; select one character back
       [:j :!Sdown_arrow] ; select one line down
       [:k :!Sup_arrow] ; select one line up
       [:l :!Sright_arrow] ; select one character forward
       [:i :!CSleft_arrow] ; select to start of line
     ]
   }
   {
     :des "Z mode for Vim movements"
     :rules [:z-mode
       [:h :left_arrow] ; go back one character
       [:j :down_arrow] ; go down one line
       [:k :up_arrow] ; go up one line
       [:l :right_arrow] ; go forward one character
       [:i :!Cleft_arrow] ; go to start of line
       [:slash :!!f] ; find
     ]
    }
    {
     :des "Move Lines"
     :rules [
      [:!Cj :!TCdown_arrow] ; Move line down
      [:!Ck :!TCup_arrow] ; Move line up
     ]
   }
   {
     :des "Append Mode"
     :rules [:append-mode
       [:comma [:hs "appendAnything?key=comma"]]
       [:semicolon [:hs "appendAnything?key=semicolon"]]
     ]
   }
   {
     :des "Redo Mode"
     :rules [:redo-mode
       [:caps_lock :!CSz]
     ]
   }
   {
     :des "Insert Mode"
     :rules [:insert-mode
       [:c [:hs "insertAnything?key=c"]]
       [:d [:hs "insertAnything?key=d"]]
       [:e [:hs "insertAnything?key=e"]]
       [:f [:hs "insertAnything?key=f"]]
       [:g [:hs "insertAnything?key=g"]]
       [:s [:hs "insertAnything?key=s"]]
       [:t [:hs "insertAnything?key=t"]]
       [:w [:hs "insertAnything?key=w"]]
     ]
   }
   {
     :des "Open Mode"
     :rules [:open-mode
       [:a [:hs "openMode?key=a"]]
       [:b [:hs "openMode?key=b"]]
       [:c [:hs "openMode?key=c"]]
       [:e [:hs "openMode?key=e"]]
       [:f [:hs "openMode?key=f"]]
       [:g [:hs "openMode?key=g"]]
       [:r [:hs "openMode?key=r"]]
       [:s [:hs "openMode?key=s"]]
       [:t [:hs "openMode?key=t"]]
       [:v [:hs "openMode?key=v"]]
       [:w [:hs "openMode?key=w"]]
     ]
   }
  ]
}
